.home {
  background-image: url('./image/oficina-mecanica-organizada.jpg');
  background-size: cover;
  height: 100vh;
}

.form-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  background: transparent;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
}

.login-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
