/* .servico-form {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .servico-info {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f7f7f7;
    width: 50%;
  }
  
  .servico-info label {
    display: block;
    margin-bottom: 10px;
  }
  
  .servico-info input,
  .servico-info select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .servico-info button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   */

.form-cadastro{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    width: fit-content;
}

.servicos-cadastrados ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .servicos-cadastrados li {
    flex: 1 0 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    min-height: 100px;

  }
  
  
  .servicos-cadastrados li button {
    padding: 5px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  